.login {
    justify-content: center;
    align-items: center;
    max-width: 25rem;
    margin: 0 auto;
    margin-top: 8rem;
}
form {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 30px rgba(0,0,0,0.175);
    padding: 1rem;
    border-radius: 8px;
    padding-bottom: 5rem;
}

label,
input,
h2 {
    margin: 0.5rem
}

.login-input input,
.pass-input input {
    width: 98%;
    padding: 0.3rem;
}

.form-label {
    margin-right: 250px;
}

.btn {
    background-color: #007BFF;
    color: white;
    border: 1px solid #007BFF;
    cursor: pointer;
    height: 36px;
    float: right;
    margin-top: 1rem;
}
