.article {
    display: flex;
    margin:  1rem 0;
}

 .article img {
max-width: 300px;

} 
.img {
    background-image: url(./cat.jpg);
    background-size: cover;
}

.preview {
    margin-left: 0.5rem;
}

h4 {
    margin-top: 0;
}

.text {
    margin: 10px 0;
}
.author,
.comments {
    font-size: 14px;
    color: gray;
}

