.my-articles {
  max-width: 1440px;
  margin: 0 auto;
}

.my-articles__header {
  display: flex;
  max-width: 1440px;
  margin: 50px 0;
}
.my-articles__header  h1 {
    margin: 0;
  }

.my-articles__btn {
  margin: 1rem;
}

.checkbox table {
  margin-top: 100px;
  margin: 0 30px 0 30px;
  width: 95%;
}
thead th {
    text-align: left;
    border-bottom: 2px solid;

    padding-left: 10px;
    padding-bottom: 8px;
    position: relative;
  }
.arrows {
      width: 30px;
      margin: 0;
      position: absolute;
      bottom: 0;
    }
svg {
        display: block;
        cursor: pointer;
      }

  

  tbody td {
    text-align: left;
    margin-right: 20px;
    padding: 15px 10px;
    border-bottom: 1px solid;
    font-size: 1.1rem;
  }
    a {
      color: black;
    }
    

    svg {
      cursor: pointer;
    }
