.new-form {
  max-width: 1440px;
}

.header-but {
  display: flex;
  margin-bottom: 70px;
}

.header-but h1 {
  margin: 0;
}
.header-but button {
    margin: 10px 0 10px 40px;
  }


.article-title {
  position: relative;
}
  span {
    position: absolute;
    top: -30px;
  }

 .form-control input {
    width: 1020px;
    height: 40px;
    display: block;
    border: 1px solid;
    font-size: 1.2rem;
    padding: 5px 10px;
    margin: 0;
  }


.uploade-img {
  margin-top: 40px;
}

 button {
    float: left;
    margin: 0;

  }


.content {
  margin-top: 110px;
  position: relative;
}
  span {
    position: absolute;
    top: -30px;
  }

  textarea {
    border: 1px solid;
  }
