@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0px;
}

/* .container {
  max-width: 26rem;
  margin-right: auto;
  margin-left: auto;
} */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

